registry=https://clubbi-630622206193.d.codeartifact.us-east-1.amazonaws.com/npm/npm/
//clubbi-630622206193.d.codeartifact.us-east-1.amazonaws.com/npm/npm/:always-auth=true
//clubbi-630622206193.d.codeartifact.us-east-1.amazonaws.com/npm/npm/:_authToken=${CODEARTIFACT_AUTH_TOKEN}
